*{
  color:black
}

.headerSection{
  display:flex;
  justify-content: space-between;
  padding:10px;
  background-color: rgb(138, 135, 225);
  color:white;
  padding-top:20px
}

.center ul li{
  list-style-type:  none;
  display:inline-flex;
  margin:0px 10px;
 
}
.title{
  font-size:1rem;
}
.left{
  flex:2;
  /* border:1px solid black */
}

.search{
   flex:2;
   /* border:1px solid black */
}
.search input{
   padding: 10px;
   width:30rem;
   border-radius:5px;
   margin-right:100px;
}
.right{
   flex:4;
   /* border:1px solid black; */
   display: flex;
   justify-content: space-between;
   padding:0px 10px;
}
.bannerBox{
  margin:10px 0px;
}
.bannerBox img{
  width:100%;
}
.menImages{
  display:flex;
  gap:10px
}
.menImages img{
  width:1200px;
  height:200px;
 
}